@import './App/App.scss';
@import './CreateButton/Createbutton.scss';
@import './TodoSearch/TodoSearch.scss';
@import './color.scss';
@import './TodoCounter/TodoCounter.scss';
@import './TodoItem/TodoItem.scss';
@import './Modal/Modal.scss';
@import './TodoForm/TodoForm.scss';
*{
  margin : 5px;
  padding:5px;

}

Body{
  background:linear-gradient(#0badb3,#c5c5f4);
  background-repeat: no-repeat;
  height: 100%;
  margin:9;
  background-attachment: fixed;
}


