@import "/src/components/pokemons";
@import "/src/components/-color.scss";
@import "/src/components/sidebar";

*{
    margin: 0;
    padding: 0;
}
.navbar {
    
    text-align: left;
    font-size-adjust: 25px;
    background-color: $darkgray;
    margin-top: solid 20px;
    margin-right: solid 20px;
    border-bottom: 3px solid $black;
    padding: 1rem, 2rem;
}
