.TodoCounter{
    font-size: 32px;
    text-align: center;
    margin: 24px;
}
h2{
    background: rgb(29, 28, 28);
    background: radial-gradient( 180deg #0e0303, #dcd5d5);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}